body {
    width: 1020px;
    margin: 0 auto;
    font-family: "Lato Light", "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    text-align: left;
}

header {
    height: 89px;
    background-color: #2d303a;
    
}
.hr_header {
    background-color: #323746;
    border: none;
    height: 6px;
    margin-top: -88px;
    margin-bottom: 0;
    padding-top: 88px;
    background-clip:content-box;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    position: sticky;
    position: -webkit-sticky;
    top: 0;   
}

h1 {
    padding-left: 40px;
    margin: 0px;
    padding-top: 34px;
    padding-bottom: 37px;   
    font-family: "Lato Bold", "Open Sans", sans-serif;
    font-size: 25px;
    line-height: 18px;
    letter-spacing: -0.35px;
    font-stretch: ultra-condensed;            
}

.color-primary {
    color: #f06c64;
}

.topnav {
    padding-right: 26px;
    font-family: "Lato Bold", "Open Sans", sans-serif;
    line-height: 6px;
    font-stretch: ultra-condensed      
}

ul {
    display: flex;
    justify-content: space-between;
    margin-block-end: 6px;                  
}
 
li {
    list-style-type: none;
    padding-right: 13px;
    padding-top: 3px;
    letter-spacing: -0.29px;    
}

li:before {
    color: #494e62;
    content: "·";
    padding-right: 13px;
}


li>a:hover {
    color: #f06c64;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;     
}

.active_li {    
    color:#f06c64;
       
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
}

.slider_container {    
    height: inherit;
}

.switch-left {
    padding: 0px 0px 5px 17px;
}

.phone_vertical {
    padding: 0px 20px 5px 3px;
}

.phone_horizontal {
    padding: 0px 4px 6px 2px;
}

.switch-right {
    padding: 0px 14px 5px 0px;
}

.button_img:hover {
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);      
    cursor: pointer;
}

.section1 {
    background-color: #f06c64;   
}

.hr_section1 {
    background-color: #ea676b;
    border: none;
    height: 6px;
    margin-top: -88px;
    margin-bottom: 0;
    padding-top: 88px;
    background-clip:content-box;
}

.section1_slider {
    height: 594px;    
}

.section1_contact {
    height: 648px;
    width: 960px;
    padding: 0px 30px;    
}

.section2 {
    background-color: #f2f2f2;   
}

.hr_section2 {
    background-color: #ffffff;
    border: none;
    height: 6px;
    margin-top: -88px;
    margin-bottom: 0;
    padding-top: 88px;
    background-clip:content-box;
}

.section2_services {
    height: 494px;
    width: 960px;
    padding: 0px 30px;
}

.section2_staff {
    height: 728px;
    width: 960px;
    padding: 0px 30px;
}

.portfolio {
    height: 863px;
    width: 960px;
    padding: 0px 30px 0px 30px;
    background-color: #2d303a;    
}

h2 {
    margin: 0px;
    padding: 67px 10px 0px 10px;
    font-size: 30px;
    font-family: "Lato Black", "Open Sans", sans-serif;
    color: #666d89;
    line-height: 21px;
    letter-spacing: -0.22px;
}

.section1_contact>h2 {    
    color: #f0d8d9;
    padding-top: 67px;    
}

.introduction {
    margin: 0px;
    width: 940px;
    height: 57px;
    padding: 25px 10px 48px 10px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #767e9e;
    text-align: justify;
    overflow: hidden;        
}

.section1_contact>.introduction {
    color: #f0d8d9;
    padding-bottom: 47px;
}

h3 {
    margin: 0px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: "Lato Black", "Open Sans", sans-serif;
    line-height: 18px;    
    font-weight: 900;
    color: #666d89;
    letter-spacing: -0.17px;    
}

p {
    margin: 0px;
}

.icon {
    width: 60px;
    height: 123px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.icon_img {
    width: 55px;
    height: 55px;
    margin-top: 2px;
    margin-left: 1px;
    border: 2px solid #666d89;
    border-radius: 32px;
}

.round {
    margin-left: 0px;   
}

#pen {
    padding-top: 11px;
    padding-left: 3px;
}

#lamp {
    padding-top: 10px;
    padding-left: 2px;
}

#answer {
    padding-top: 12px;
    padding-left: 1px;
}

#phone {
    padding-top: 10px;
    padding-left: 2px;
}

#support {
    padding-top: 13px;
    padding-left: 2px;
}

#star {
    padding-top: 11px;
    padding-left: 1px;
}

.service_text {
    margin: 0px;    
    width: 219px;
    height: 123px;
    padding: 0px 10px 0px 10px;
}

.text {
    height: 90px; 
    font-family: "Lato Regular", "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    text-align: justify;
    letter-spacing: -0.27px;
    overflow: auto;    
}

.text::-webkit-scrollbar {
    width: 12px;
}

.introduction_portfolio {    
    height: 30px;
    padding: 25px 10px 0px 10px;
}

.introduction_staff {
    padding: 25px 10px 46px 10px; 
}

.container_button {
    display: inline-flex;    
}

.container_portfolio {
    height: 621px;
    margin-top: 9px;    
}

.container_portfolio>img:nth-child(n+13) {
    display: none;    
}

button {
    margin: 11px 0px 0px 11px;
    padding: 1px 6px 1px 7px;
    height: 22px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;    
    font-size: 12px;
    line-height: 12px;
    color: #767e9e;
    font-family: "Lato Regular", "Open Sans", sans-serif;
    text-align: left;    
}

.button_web {
    margin: 11px 0px 0px 10px;
    padding: 1px 5px 1px 7px;
}

.button_graphic {
    margin: 11px 0px 0px 10px;
    padding: 1px 5px 1px 6px;
}

button:hover {
    color:  #c5c5c5;
    cursor: pointer;
    background-color: #332f44;
    border: 1px solid #c5c5c5;           
}

.button_active {
    outline:  #c5c5c5;
    color:  #c5c5c5;
    background-color: #332f44;
    border: 1px solid #c5c5c5;
}

.img_active {
    border: 5px solid #F06C64;
    margin: -5px;
}


#photo1 {
    padding-left: 1px;
}

#photo2 {
    padding-right: 1px;
}


.item_staff {
    width: calc(100%/3); 
   
}

.item_staff>h3 {
    padding: 14px 10px 10px 9px;
    letter-spacing: -0.17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;        
}

.item_staff>.text {
    padding: 0px 10px 5px 10px;
    height: 47px;
    letter-spacing: -0.18px;
}

.container_media {
    justify-content: left;
    width: calc(100%/3);    
}

.media_round {
    width: 30px;
    height: 30px;
    margin: 14px 0px 0px 10px;
    border-radius: 22px;    
    border: 1px solid #666d89;
}

.media_round:hover {
    cursor: pointer;
    background-color: #332f44;                   
}

.round_facebook {
    margin: 14px 0px 0px 11px;
}

.round_google {
    margin: 14px 0px 0px 8px;
}

.round_twitter {
    margin: 14px 0px 0px 8px;
}

.round_linkedin {
    margin: 14px 0px 0px 8px;
}

.round_facebook_size {
    margin: 14px 0px 0px 10px;
}

.facebook {    
   padding: 8px 0px 0px 11px; 
      
}

.google {    
    padding: 8px 0px 0px 8px;       
}

.twitter {    
    padding: 9px 0px 0px 7px;       
}

.linkedin {    
    padding: 8px 0px 0px 8px;       
}

form {
    width: calc(100%/3*2);
}

.container_form_element {
    width: 100%;
    height: 38px;
    margin: 0px 10px 16px 10px;
    padding: 0 15px;
    background-color: #d6564f;
    font-family: "Lato Regular", "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    border-radius: 5px;
    border: #d6564f;
    box-shadow:none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.form_textarea {
    height: 195px;
    padding-top: 7px;
    resize: none;
    text-align: justify;
    white-space: normal;
    overflow: unset;
    text-overflow: unset;    
}

.container_form_element::-webkit-input-placeholder {
    font-family: "Lato Regular", "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;    
    transform: translate(0px, -1px);
}

.form_textarea::-webkit-input-placeholder {
    transform: translate(0px, 0px);    
}

.container_form_element:-moz-placeholder {
    font-family: "Lato Regular", "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    transform: translate(0px, -1px);
}

.form_textarea::-moz-placeholder {
    transform: translate(0px, 0px);    
}

.form_textarea::-webkit-scrollbar {
    width: 12px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
}

@-webkit-keyframes autofill {
    100% {
      background-color: #d6564f;
      color: #f48c8f;
    }
}

input:-webkit-autofill:invalid {
    -webkit-animation: autofillinvalid 0s forwards;
}

@-webkit-keyframes autofillinvalid {
    100% {
        background-color:#f0d8d9;
        color: #d6564f;
    }
}
  
.container_form_element:invalid:not(:placeholder-shown) {
    background-color:#f0d8d9;
    color: #d6564f;
}

#message_box {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background:#f2f2f2;         
}

#message_box.hidden {
    display: none;
}

#message {
    position: absolute;
    top: 30%;
    left: 25%;
    width: calc(100vw/2);
    height: calc(100vh/3);    
    padding: 40px;
    margin: 10px;
    background :#2d303a;
    border: 2px solid #d6564f;
    color: #767e9e;
    text-align: left;
   /* font-family: "Lato Bold", "Open Sans", sans-serif;*/
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
    text-align: justify;
    
    
}

#subject_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#details_text {
    overflow: auto;
    height: calc(100vh/6);
    text-align: justify;
}

#details_text::-webkit-scrollbar {
    width: 12px;
}


#Ok_button {
    position: absolute; 
    left: 80%;
    top: 80%;
    /*font-family: "Lato Bold", "Open Sans", sans-serif;*/
    font-size: 12px;
    height: 32px;
    padding: 5px 40px 5px 40px;
    /*border: 2px solid  #666d89*/
}

.container_contact {
    width: calc(100%/3);
    justify-content: left;   
    align-self: flex-start;    
}

.container_contact>h3 {
    color: #f0d8d9;
    margin: 0 10px;
    letter-spacing: -0.13px;    
}

.container_contact>.text {
    color: #f0d8d9;
    margin: 0 10px 18px 10px;
    letter-spacing: -0.22px;
}

.contact {    
    margin: 0 10px;
    line-height: 21px;
    letter-spacing: -0.1px;    
}

.location {
    margin: 1px 0px 0px 3px;
}

.text_contact {
    color: #f0d8d9;
    margin: 0 10px;
    font-family: "Lato Regular", "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 21px;   
    letter-spacing: 0px;
}

.text_location {
    margin: 0px 0px 0px 11px;
}

#phone_cont {
    margin-left: 1px;
}

.text_phone {
    margin: 0px 0px 0px 9px;
}

.text_mail {
    margin: 1px 10px 0px 7px;
}

.container_footer {
    width: 960px;
    padding: 0px 30px;
    height: 76px;
    background-color: #2d303a;
    justify-content: space-between;
    /*background-clip:content-box;  */ 
}

.container_footer>.text {
    color: #666d89;
    padding-left: 12px;
    height: 18px;
    line-height: 18px;
    letter-spacing: -0.15px;   
}

.container_media_footer {
    padding-right: 10px;
    padding-bottom: 14px;
}

.container_media_footer>.media_round:hover {
    cursor: pointer;
    background-color:#f2f2f2;                   
}